main {
  padding: 1.5rem;
}
.listing-description {
  line-height: 15px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.7rem;
  align-items: center;
}

.double-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.double-slider-container :is(input) {
  display: block;
  border: unset;
  width: 100px;
}
.double-slider {
  width: 100%;
}
#price-range-min {
  text-align: right;
}
#price-slider {
  width: 150px;
  margin: 0 1rem;
}

.change-view-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  cursor: pointer;
}
.change-view-container :is(img) {
  height: 18px;
}
.change-view-container.active,
.change-view-container:hover {
  background-color: var(--first-color);
}

.change-view-container.active :is(img),
.change-view-container:hover :is(img) {
  filter: invert(1);
}

.listing-dropdown {
  background-color: var(--second-color);
  border: unset;
  outline: unset;
  padding: 0.3rem 0.7rem;
  padding-right: 2rem;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 93% 46%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 35px;
  display: block;
}

.noUi-target {
  border: unset !important;
  border-radius: 0 !important;
}
.noUi-handle {
  background-color: var(--first-color) !important;
  border-radius: 50% !important;
  height: 14px !important;
  width: 14px !important;
  border: unset !important;
  box-shadow: unset !important;
}
.noUi-touch-area,
.noUi-handle,
.noUi-origin,
.noUi-connect {
  transition: unset !important;
}
.noUi-handle:focus {
  outline: unset !important;
}
.noUi-handle:after,
.noUi-handle:before {
  display: none !important;
}

.noUi-horizontal {
  height: 4px !important;
}
.noUi-connects {
  background-color: var(--second-color);
}
.noUi-connect {
  background-color: var(--first-color) !important;
}
.noUi-horizontal .noUi-handle {
  right: -7px !important;
  top: -4px !important;
}

.products-range {
  color: #969696;
}

.pagination {
  margin-bottom: 0;
}
.pagination :is(.arrow) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pagination :is(.previous, .next) {
  color: var(--first-color);
  font-weight: 700;
}
.pagination .page-link:not(.arrow, .dots) {
  border-right: 1px solid #ededed;
}
.pagination .page-link {
  font-size: 1rem !important;
  color: #7b7b7b !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.pagination :is(.active) {
  font-weight: 500;
  color: var(--text-color) !important;
}
.pagination :is(.dots) {
  padding-left: 0;
  padding-right: 0;
  color: var(--first-color) !important;
}
.pagination .page-item .page-link:hover {
  background-color: #fff !important;
}

.product-container {
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
}
.products {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}
.products .photo {
  border: 6px solid #f4f4f4;
  height: 200px;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
.products .descriptions {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.products .descriptions .content {
  margin-top: -5px;
}
.products .descriptions .content h4 {
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}
.products .descriptions .content h3 {
  font-size: 1.5rem;
}
.products .label {
  letter-spacing: 4px;
  padding: 0.3rem 1rem;
  font-size: 0.56rem;
  font-weight: 600;
  color: white;
  margin: 0.3rem;
  margin-left: 0;
  margin-top: 0;
}
.products .label.red {
  background-color: #c16262 !important;
}
.products .label.first {
  background-color: var(--first-color);
}
.products .label.text {
  background-color: var(--text-color);
}
.product-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-actions button {
  width: 100%;
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}
.product-actions button:hover img {
  filter: invert(1);
}
.compare-icon {
  height: 10px;
  margin-right: 0.5rem;
}
.custom-alert {
  font-weight: 500;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;
}
.custom-alert img {
  height: 13px;
  margin-right: 0.3rem;
}
.custom-alert.success {
  color: #4a9633;
}
.custom-alert.warning {
  color: #c16262;
}
.product-actions .heart {
  height: 17px;
  cursor: pointer;
}
.product-price {
  margin-bottom: 0.4rem;
}
.product-discount {
  line-height: 38px;
  margin-left: 0;
  font-size: 0.8rem;
  font-weight: 700;
}
.prices-container {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
.labels {
  display: flex;
  flex-wrap: wrap;
}

.find-fail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.find-fail button {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.double-slider-container input {
  background-color: #fff;
}

.products.columns :is(.product-container) {
  width: 32%;
  flex-direction: column;
}
@media (min-width: 992px) and (max-width: 1270px) {
  .price-change-container {
    margin-top: 0.6rem;
  }
}
@media (max-width: 992px) {
  .double-slider-container {
    padding: 2rem 0;
  }
  .actions.first > div {
    width: 100%;
  }
  .listing-dropdown {
    width: 100%;
    padding-right: 0.7rem !important;
    margin-right: 0 !important;
    background-position: 98% 46%;
  }
  .pagination {
    justify-content: center;
  }
  .listing nav {
    width: 100%;
  }
  .nav-top,
  .nav-bottom {
    margin-top: 2rem;
  }
  .show-products {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .products.columns :is(.product-container) {
    width: 100%;
  }
  .products.columns .descriptions {
    flex-direction: column;
  }
  .products.columns .photo {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .labels .label {
    width: 200px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 430px) {
  #price-range-min,
  #price-range-max,
  #price-slider {
    width: 100%;
    text-align: center !important;
  }
}
